.navComp{
    background-color: #FFAA5A;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    border-bottom: solid #282c34; ;
    position: fixed;
    width: 100%;
}
span{
    font-family:'Roboto',sans-serif;
    color: #282c34;
}
.logInd{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 70px;
    align-content: center;
}
.logInd li{
    font-family:'Roboto',sans-serif;
    color: #282c34;
    font-size: 20px;
}
.navList li{
    padding-right: 30px;
    font-size: 20px;
}
.navList{
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 80px;
    align-content: center;
}