.registerComp{
    height: 100vh;
    background-color: #282c34;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(0%, 80px);
}
.title, .message, .formWrap{
    flex: 100%;
    padding: 30px;
}
.message{
    color: white;
    text-align: center;
}
.formWrap{
    padding-left: 0;
    padding-right: 0;
}
.regForm{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#regBtn{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        margin-top: 10px;
    }
    
    #regBtn:hover, #regBtn:focus{
        color:#000000;
        background-color: #FFAA5A;
        outline: none;
    }

#regNam:hover, #regNam:focus{
    background-color:#FFF05A ;
    color:#000000;
    outline: none;
}
#regEm:hover, #regEm:focus{
    background-color:#FFD25A ;
    color:#000000;
    outline: none;
}
#regP1:hover, #regP1:focus{
    background-color:#FFAA5A ;
    color:#000000;
    outline: none;
}
#regP2:hover, #regP2:focus{
    background-color:#FF785A ;
    color:#000000;
    outline: none;
}